.footer-box {
    display: flex;
    /*position: absolute;*/
    /*bottom: 0;*/
    width: 100%;
    background-color: #fafafa;
    padding: 0 20px;
    margin: 0;
    vertical-align: baseline;
}
.footer-inner {
    max-width: 935px;
    padding: 38px 0;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    margin: 0 auto;
    width: 100%;
}
.footer-navbox {
    display: flex;
    padding: 0;
    margin: 0;
}
.footer-ul{
    margin: 0 auto;
    max-width: 100%;
    list-style: none;
    vertical-align: baseline;
}
.footer-li {
    display: inline-block;
    margin: 0 16px 7px 0;
    vertical-align: baseline;
}