.underconstruct {
    flex-grow: 1;
    text-align: center;
}

/* section */
.section-box {
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    margin: 0 auto;
    max-width: 935px;
    width: 100%;
}
.sec-article {
    display: flex;
    /*float: left;*/
    margin-right: 28px;
    max-width: 614px;
    width: 100%;
}
.sec-article-box {
    display: flex;
    flex-direction: column;
}

/* profile */
.sec-aside-box {
    display: flex;
    /*position: fixed;*/
    /*left: 692.5px;*/
    /*top: 137px;*/
    /*right: 0;*/
    flex-direction: column;
    height: 100vh;
    /*max-width: 293px;*/
    width: 293px;
    /*width: 100%;*/
}
.sec-aside-fixed-box {
    position: fixed;
    width: 293px;
    top: 135px;
    transition: top 0.1s;
}
.sec-aside-pf-box {
    display : flex;
    flex-direction: row;
    height: 62px;
    justify-content: space-between;
}
.sec-aside-pf-inbox {
    display: flex;
    flex-direction: row;
    max-height: 50px;
    height: 100%;
    width: 100%;
    margin-bottom: 12px;
    padding-left: 5px;
}
.sec-aside-pf-photo-box {
    display: block;
    align-self: center;
    /*flex: none;*/
    width: 50px;
}
.sec-aside-pf-photo {
    display: block;
    background-color: #fafafa;
    height: 50px;
    width: 50px;
}
.sec-aside-pf-name-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 14px;
}
.sec-aside-pf-name-nk-box {
    display: flex;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 2px;
}
.sec-aside-pf-name-nk {
    color: #262626;
    font-weight: 600;
}
.sec-aside-pf-name-n-box {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
}

/* story */
.sas-b {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    justify-content: flex-start;
    margin-top: 4px;
}
.sast-b {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    padding: 4px 16px;
}
.sastt-b {
    min-height: 0;
    min-width: 0;
    justify-content: flex-start;
}
.sasttt {
    display: block;
    color: #999;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    margin: -3px 0 -4px;
}
.sasta-b {
    display: inline;
    /*font-weight: 600;*/
    /*color: #262626;*/
    text-align: center;
    width: auto;
}
.sastaa {
    display: block;
    color: #262626;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    margin: -2px 0 -3px;
}
.sasc-m1 {
    display: flex;
    /*flex-direction: column;*/
    margin-top: 8px;
}
.sasc-m2 {
    display: flex;
    margin-left: 16px;
}
.sasc-b {
    display: flex;
    /*flex-direction: column;*/
    height: 182px;
}
.sasc-ib {
    display: flex;
    flex-direction: column;
    padding: 0;
} 
.sasce-b {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    height: 44px;
    width: 100%;
    padding-left: 5px;
}
.sascep-b {
    display: block;
    align-self: center;
}
.sascep {
    display: block;
    background-color: #fafafa;
    border-radius: 50%;
    width: 34px;
    height: 34px;
}
.sascec-b {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-left: 14px;
}
.sascecnk-b {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 2px;
}
.sascect-b {
    display: flex;
    color: #999;
    /*justify-content: center;*/
    height: 14px;
}
.sascect {
    font-size: 10px;
    line-height: 12px;
}

/* recommend */
.sar-b {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    justify-content: flex-start;
    margin: 12px 0;    
}
.sarc-m1 {
    display: flex;
    flex-basis: auto;
    margin-left: 4px;
    margin-bottom: 4px;
}
.sarc-m2 {
    display: flex;
    flex-grow: 1;
    padding: 8px 0;
}
.sarc-b {
    display: flex;
    flex-grow: 1;
}
.sarc-ib {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.sarce-b {
    display: flex;
    flex-basis: auto;
    padding: 8px 16px;
}
.sarcecf-b {
    display: flex;
    margin-left: 8px;
    align-items: center;
}
.sarcecf, .sarcecf:hover, .sarcecf:visited, .sarcecf:active {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    color: #3897f0;
}

/*footer*/
.saf-b {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 38px;
}
.safn-b {
    display: flex;
    margin-bottom: 16px;
    max-width: 100%;
}
.safnu-b {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
    margin-bottom: 3px;
    padding: 0;
}
.safnul, .safnul:visited, .safnul:hover, .safnul:active {
    display: inline-block;
    list-style: none;
    color: #c7c7c7;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
}
.safnul:not(:last-of-type)::after {
    content: "\00B7";
    margin: 0 0.25em;
}
.saff {
    color: #c7c7c7;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
}

/* cards */
.cards-box-round {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin-bottom: 60px;
    margin-left: -1px;
    margin-right: -1px;
    padding: 0;
    max-width: 616px;
    background-color: white;
}
.card-title {
    display: flex;
    flex-direction: row;
    height: 60px;
    padding: 16px;
    align-items: center;
    border-bottom: 1px solid #efefef;
    background-color: white;
    margin: 0;
}
.card-title-photo {
    display: block;
    height: 34px;
    width: 34px;
    background-color: #fafafa;
    border-radius: 50%;
    overflow: hidden;
}
.card-title-canvas {
    position: absolute;
    height: 44px;
    width: 44px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.ctnk-b {
    display: flex;
    margin-left: 16px;
}
.ctnk {
    display: flex;
    font-size: 14px;
    font-weight: 600;
}
.cc-b {
    /*border-bottom: 1px solid #e6e6e6;*/
    /*padding: 0;*/
}
.cc2-b {
    /*padding: 0;*/
}
.cc2n-b {
    display: flex;
    margin-top: 4px;
    padding: 0 16px;
}
/* centent-nav-heart */
.cc2nh-b {
    display: inline-block;
    margin-left: -8px;
}
.cc2nh-ib {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}
.cc2nh {
    background-position: -78px -203px;
}
.cc2nhf {
    background-position: -52px -203px;
}
/*content-nav-cart*/
.cc2nc-b {
    display: inline-block;
}
.cc2nc {
    background-position: -131px -146px;
}
/*content-nav-upload*/
.cc2nu-b {
    display: inline-block;
}
.cc2nu {
    background-position: -26px -255px;
}
/*content-nav-bookmark*/
.cc2nb-b {
    display: inline-block;
    margin-left: auto;
    margin-right: -10px;
}
.cc2nb {
    background-position: -268px -130px;
}

/*content-like*/
.cc2l-b {
    display: flex;
    margin-bottom: 8px;
    padding: 0 16px;
}
.cc2l-ib {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cc2l {
    display: flex;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: #262626;
}
/*content-content*/
.cc2c-b {
    display: flex;
    margin: 0 0 auto;
    padding: 0 16px;
}
.cc2c-u {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
.cc2c-comments-box {
    list-style: none;
    width: 100%;
    overflow: hidden;
    margin: -5px -2px 0 0;
    padding: 5px 2px 6px 0;
}
.cc2cc-each-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cc2cce-comment-box {
    display: flex;
    width: calc(100% - 28px);
}
.cc2cce-nkname {
    font-size: 14px;
    font-weight: 600;
    margin-right: 4px;
}


.button {
    border: 1px solid #e6e6e6;
    border-radius: 25px;
    padding: 5px 15px;
    background-color: white;
}
.button:hover {
    background-color: #F8F9FA;
}
.comment-box {
    border-top: 1px solid #e6e6e6;
    min-height: 56px;
    line-height: 18px;
    margin: 4px 0 0;
    padding: 0 16px;
    align-items: center;
}
.inner-box {
    display: flex;
    align-items: stretch;
    height: 18px;
    margin: 0;
    padding: 0;
    width: 100%;
    vertical-align: baseline;
}
.write-box {
    display: inline-block;
    border: 0;
    outline: 0;
    width: 554px;
    height: 18px;
    margin: 0;
    padding: 0;
    max-height: 80px;
    font-size: 14px;
    resize: none;
}
.comment-form {
    width: inherit;
    height: inherit;
}
.write-button, write-button:visited {
    color: #3897f0;
    /*opacity: .3;*/
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    border: 0;
    outline: 0;
    width: auto;
    height: 18px;
    padding: 0;
    background-color: white;
}
.content2 {
    
}
.comments {
    
}