
/*posts.css*/
.cards-box-round {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin-bottom: 60px;
    padding: 0;
    max-width: 616px;
    background-color: white;
}
.cards-flat {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 0;
}
.card-title {
    display: flex;
    flex-direction: row;
    height: 60px;
    padding: 16px;
    align-items: center;
    border-bottom: 1px solid #efefef;
    background-color: white;
    margin: 0;
}
.card-title-canvas {
    display: flex;
    height: 44px;
    width: 44px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.card-title-photo {
    display: block;
    height: 34px;
    width: 34px;
    background-color: #fafafa;
    border-radius: 50%;
    overflow: hidden;
}
.button {
    border: 1px solid #e6e6e6;
    border-radius: 25px;
    padding: 5px 15px;
    background-color: white;
}
.button:hover {
    background-color: #F8F9FA;
}
.comment-box {
    border-top: 1px solid #e6e6e6;
    min-height: 56px;
    line-height: 18px;
    margin: 4px 0 0;
    padding: 0 16px;
    align-items: center;
}
.inner-box {
    display: flex;
    align-items: stretch;
    height: 18px;
    margin: 0;
    padding: 0;
    width: 100%;
    vertical-align: baseline;
}
.write-box {
    display: inline-block;
    border: 0;
    outline: 0;
    width: 554px;
    height: 18px;
    margin: 0;
    padding: 0;
    max-height: 80px;
    font-size: 14px;
    resize: none;
}
.comment-form {
    width: inherit;
    height: inherit;
}
.write-button, write-button:visited {
    color: #3897f0;
    /*opacity: .3;*/
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    border: 0;
    outline: 0;
    width: auto;
    height: 18px;
    padding: 0;
    background-color: white;
}
.content2 {
    
}
.comments {
    
}