<footer class="footer-box">
    <div class="footer-inner row">
        <nav class="footer-navbox col-sm-8">
            <ul class="footer-ul">
                <li class="footer-li">INSTAGRAMU 정보</li>
                <li class="footer-li">후원</li>
                <a href="{% url 'accounts:list' %}"><li class="footer-li">회원목록</li></a>
                <li class="footer-li">어디로든 문</li>
                <li class="footer-li">???</li>
            </ul>
        </nav>
        <span class="col-sm-4">© 2019 INSTAGRAMU</span>
    </div>
</footer>