{% load static %}
{% if user.is_authenticated %}
<nav class="nav-box">
<div class="nav-box-fixed">
    <div class="nav-inbox">
        <div class="nav-logobox">
            <a class="nav-logo" href="/posts/">
                <div class="nav-logoinbox">
                    <span class="nav-icon instalogo"></span>
                    <div class="nav-logobar"></div>
                    <span class="nav-icon instawrite" style="height:29px; width:103px; margin-top: 7px;"></span>
                </div>
            </a>    
        </div>
        <!---->
        <form action="{% url 'accounts:search' %}" class="nav-searchbox d-none d-sm-block">
            <input name="username" class="nav-searchinput" type="search" placeholder="검색" aria-label="Search">
            <button type="submit" hidden></button>
        </form>     
        
        <div>
           
        </div>
        <!---->
        <div class="nav-nav">
            <div class="nav-navbox">
                {% if user.is_authenticated %}
                <div class="nav-iconbox">
                    <a href="{% url 'posts:create' %}" class="nav-iconlink">
                        <span class="nav-icon safari"></span>
                    </a>
                </div>
                <div class="nav-iconbox">
                    <a href="{% url 'accounts:profile' %}" class="nav-iconlink">
                        <span class="nav-icon heart"></span>
                    </a>
                </div>
                <div class="nav-iconbox">
                    <a href="{% url 'accounts:profile' %}" class="nav-iconlink">
                        <span class="nav-icon profile"></span>
                    </a>
                </div>
                {% else %}
                    <a href="{% url 'accounts:signup' %}">회원 가입</a>
                    <a href="{% url 'accounts:login' %}">로그인</a>
                {% endif %}
                
            </div>
        </div>
    </div>
</div>
</nav>
{% endif %}
