{% load static %}
<div class="sec-article">
        <div class="sec-article-box">
            {% for post in posts %}
            <div class="cards-box-round">
                <header class="card-title">
                    <div class="card-title-photo">
                        <div class="card-title-canvas" role="button" href="{% url 'accounts:detail' post.user.pk %}">
                        </div>
                        <a href="#" style="width: 34px; height: 34px;">
                            {% if post.user.profile.image %}
                            <img src="{{ post.user.profile.image.url }}" style="height: 34px; width:34px;">
                            {% else %}
                            <img src="{% static 'instagram/undefined_profile.jpg' %}" style="height: 34px; width:34px;">
                            {% endif %}
                        </a>
                    </div>
                    
                    <div class="ctnk-b">
                        <a href="{% url 'accounts:detail' post.user.pk %}" class="ctnk">
                            {% if post.user.profile.nickname %}
                                {{ post.user.profile.nickname }}
                            {% else %}
                                {{ post.user.username }}
                            {% endif %}
                        </a>
                    </div>
                </header>
                <div class="cc-b">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            {% for image in post.image_set.all %}
                            <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                                <img src="{{ image.thumbnail_fill.url }}" class="d-block w-100" alt="{{ image }}">
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                    <!--<img src="{{ post.image_set.first.file.url }}" width="100%" alt="picture">-->
                </div>
                <div class="cc2-b">
                    <section class="cc2n-b">
                        <span class="cc2nh-b">
                            <a href="{% url 'posts:like' post.pk %}" name="post-{{ post.pk }}">
                                <div class="cc2nh-ib">
                                    {% if user in post.like_users.all %}
                                        <span class="nav-icon cc2nhf"></span>
                                    {% else %}
                                        <span class="nav-icon cc2nh"></span>
                                    {% endif %}
                                </div>
                            </a>
                        </span>
                        <span class="cc2nc-b">
                            <a href="#" name="post-{{ post.pk }}">
                                <div class="cc2nh-ib">
                                    <span class="nav-icon cc2nc"></span>
                                </div>
                            </a>
                        </span>
                        <span class="cc2nu-b">
                            <a href="#" name="post-{{ post.pk }}">
                                <div class="cc2nh-ib">
                                    <span class="nav-icon cc2nu"></span>
                                </div>
                            </a>
                        </span>
                        <span class="cc2nb-b">
                            <a href="#" name="post-{{ post.pk }}">
                                <div class="cc2nh-ib">
                                    <span class="nav-icon cc2nb"></span>
                                </div>
                            </a>
                        </span>
                    </section>
                    <section class="cc2l-b">
                        <div class="cc2l-ib">
                            <a href="">
                                <!--Modal 연결-->
                                <span class="cc2l">
                                    좋아요 
                                    {{ post.like_users.all.count }}개
                                </span>
                            </a>
                        </div>
                    </section>
                    <div class="cc2c-b">
                        <ul class="cc2c-u">
                            <!--컨텐츠 추가해야함 -->
                            <li class="content"></li>
                            <li class="seeall"></li>
                            <li class="cc2c-comments-box">
                                {% for comment in post.comment_set.all %}
                                    <div class="cc2cc-each-box">
                                        <div class="cc2cce-comment-box">
                                            <a href="{% url 'accounts:detail' comment.user.pk %}" class="cc2cce-nkname">
                                                <!--댓쓴이에게 이동-->
                                                {% if comment.user.profile.nickname %}
                                                    {{ comment.user.profile.nickname }}
                                                {% else %}
                                                    {{ comment.user.username }}
                                                {% endif %}
                                            </a>
                                            <span style="font-size: 14px;">
                                                {{ comment.content }}
                                            </span>
                                        </div>
                                        <span class="cc2cce-heart">
                                            <!--추가해야하나.. 댓글 좋아요는 아직인데..-->
                                        </span>
                                    </div>
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                    <div class="cc2t-b">
                        
                    </div>
                    <section class="cc2wc-b">
                        
                    </section>
                    
                    <div class="comments">
                    </div>
                    <section class="comment-box d-flex align-items-center">
                        <div class="inner-box">
                            <form action="{% url 'posts:comment_new' post.pk %}" method="POST" class="comment-form d-flex align-items-center">
                                {% csrf_token %}
                                <textarea type="text" name="content" class="write-box" placeholder="댓글 달기..."></textarea>
                                <button type="submit" class="write-button">게시</button>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>