{% extends 'base.html' %} 
{% load static %}
{% block body %}
<section class="section-box">
    <div class="sec-article">
        <div class="sec-article-box">
            {% for post in posts %}
            <div class="cards-box-round">
                <header class="card-title">
                    <div class="card-title-canvas" role="button" href="{% url 'accounts:detail' post.user.pk %}">
                        <span class="card-title-photo">
                            {% if post.user.profile.image.url %}
                            <img src="{{ post.user.profile.image.url }}" style="height: 34px; width:34px;">
                            {% else %}
                            <img src="{% static 'instagram/undefined_profile.jpg' %}" style="height: 34px; width:34px;">
                            {% endif %}
                        </span>
                    </div>
                    <span>{{ post.user.profile.nickname }}</span>
                </header>
                <div class="content cards-flat">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            {% for image in post.image_set.all %}
                            <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                                <img src="{{ image.thumbnail_fill.url }}" class="d-block w-100" alt="{{ image }}">
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                    <!--<img src="{{ post.image_set.first.file.url }}" width="100%" alt="picture">-->
                </div>
                <div class="bar">
    
                </div>
                <div class="content2">
                    <p>{{ post.content }}</p>
                </div>
                <div class="comments">
                    {% if user in post.like_users.all %}
                    <a href="{% url 'posts:like' post.pk %}"><i class="fas fa-heart fa-1.5x" style="color:crimson"></i></a>
                    {% else %}
                    <a href="{% url 'posts:like' post.pk %}"><i class="far fa-heart fa-1.5x" style="color:darkgray"></i></a>
                    {% endif %}
                    <span>{{ post.like_count }}명이 좋아요를 눌렀습니다.</span>
                </div>
                <section class="comment-box d-flex align-items-center">
                    <div class="inner-box">
                        <form method="POST" class="comment-form d-flex align-items-center">
                            <textarea type="text" name="comment" class="write-box" placeholder="댓글 달기..."></textarea>
                            <button type="submit" class="write-button">게시</button>
                        </form>
                    </div>
                </section>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="sec-aside-box">
        <div class="sec-aside-pf-box">
            <div class="sec-aside-pf-inbox">
                <div class="sec-aside-pf-photo-box" role="button">
                    <a href="{% url 'accounts:profile' %}" class="sec-aside-pf-photo">
                        {% if user.profile.image %}
                        <img src="{{ user.profile.image.url }}" style="height:100%; width:100%; border-radius: 50%;">
                        {% else %}
                        <img src="{% static 'instagram/undefined_profile.jpg' %}" style="height:100%; width:100%; border-radius: 50%;">
                        {% endif %}
                    </a>
                </div>
                <div class="sec-aside-pf-name-box">
                    <div class="sec-aside-pf-name-nk-box">
                        <a href="{% url 'accounts:profile' %}" class="sec-aside-pf-name-nk">
                            {{ user.profile.nickname }}
                        </a>
                    </div>
                    <div class="sec-aside-pf-name-n-box">
                        {{ user.username }}
                    </div>
                </div>
            </div>
        </div>
        <div class="sas-b">
            <div class="sast-b">
                <div class="sastt-b">
                    <div class="sasttt">
                        스토리
                    </div>
                </div>
                <a href="#" class="sasta-b">
                    <div class="sastaa">
                        모두 보기
                    </div>
                </a>
            </div>
            <div class="sasc-m1">
                <div class="sasc-m2">
                    <div class="sasc-b">
                        <div class="sasc-ib">
                            <!-- 새 글 있으면 반복문 -->
                            <!-- 일단은 모든 유저 -->
                            {% for each_user in users %}
                                {% if each_user != user %}
                                <div style="height: 52px;">
                                    <!--원래는 버튼(밑)-->
                                    <div class="sasce-b">
                                        <div class="sascep-b" href="{% url 'accounts:detail' each_user.pk %}" role="button">
                                            {% if each_user.profile.image %}
                                            <img role="link" src="{{ each_user.profile.image.url }}" class="sascep">
                                            {% else %}
                                            <img role="link" src="{% static 'instagram/undefined_profile.jpg' %}" class="sascep">
                                            {% endif %}
                                        </div>
                                        <div class="sascec-b">
                                            <div class="sascecnk-b">
                                                <span>
                                                    {% if eachuser.profile.nickname %}
                                                        {{ each_user.profile.nickname }}
                                                    {% else %}
                                                        {{ each_user.username }}
                                                    {% endif %}
                                                </span>
                                            </div>
                                            <div class="sascect-b">
                                                <!--시간표시-->
                                                <!--나중에 수정해야함-->
                                                <span class="sascect">
                                                3시간 전
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                            <!-- 반복문 끝 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sec-aside-recom-box"></div>
        <div class="sec-aside-footer-box"></div>
    </div>
</section>
<br><br><br><br><br><br>
{% endblock %}
